<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.mapper.CheckGroupMapper">
    <insert id="save" parameterType="cn.itcast.pojo.CheckGroup" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO t_checkgroup
        VALUES
        (id,#{code},#{name},#{helpCode},#{sex},#{remark},#{attention})
    </insert>
    <insert id="saveCheckGroupAndCheckItem" parameterType="hashmap">
        INSERT INTO t_checkgroup_checkitem
        VALUES
        (#{checkgroup_id},#{checkitem_id})
    </insert>
    <select id="findPage" parameterType="String" resultType="cn.itcast.pojo.CheckGroup">
        SELECT * FROM t_checkgroup
        <if test="value != null and value.length > 0">
            WHERE code = #{value} or name = #{value} OR helpcode = #{value}
        </if>
    </select>
    <select id="findCheckGroupById" parameterType="int" resultType="cn.itcast.pojo.CheckGroup">
        SELECT * FROM t_checkgroup WHERE id = #{id}
    </select>
    <select id="findCheckItemIdByCheckGroupId" parameterType="int" resultType="int">
        SELECT checkitem_id FROM t_checkgroup_checkitem WHERE checkGroup_id = #{id}
    </select>
    <update id="updateCheckGroup" parameterType="cn.itcast.pojo.CheckGroup">
        UPDATE t_checkgroup
        <set>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="code != null">
                name = #{name},
            </if>
            <if test="code != null">
                helpCode = #{helpCode},
            </if>
            <if test="code != null">
                sex = #{sex},
            </if>
            <if test="code != null">
                remark = #{remark},
            </if>
            <if test="code != null">
                attention = #{attention}
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deleteCheckGroupAndCheckItem" parameterType="int">
        DELETE FROM t_checkgroup_checkitem WHERE checkgroup_id = #{id}
    </delete>
    <delete id="deleteCheckGroupById" parameterType="int">
        DELETE FROM t_checkgroup WHERE id = #{id}
    </delete>
    <select id="findAll" resultType="cn.itcast.pojo.CheckGroup">
        SELECT * FROM t_checkgroup
    </select>

    <!--关联检查项-->
    <resultMap id="checkGroupMap" type="cn.itcast.pojo.CheckGroup">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="helpCode" property="helpCode"/>
        <result column="sex" property="sex"/>
        <result column="remark" property="remark"/>
        <result column="attention" property="attention"/>
        <collection property="checkItems" ofType="cn.itcast.pojo.CheckItem" column="id" select="cn.itcast.mapper.CheckItemMapper.findByCheckGroupId" fetchType="eager"/>
    </resultMap>
    <select id="findBySetmealId" parameterType="int" resultMap="checkGroupMap">
        SELECT * FROM t_checkgroup WHERE id IN (SELECT checkgroup_id FROM t_setmeal_checkgroup WHERE setmeal_id = #{setmealId})
    </select>

    <!--根据套餐id查询-->
    <select id="findCheckGroupBySetmeaId" parameterType="int" resultType="cn.itcast.pojo.CheckGroup">
        SELECT * from t_checkgroup WHERE id IN (SELECT checkgroup_id FROM t_setmeal_checkgroup WHERE setmeal_id = #{setmealId})
    </select>
</mapper>
