<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.mapper.OrderMapper">
    <!--动态查询order对象-->
    <select id="findByCondition" parameterType="cn.itcast.pojo.Order" resultType="cn.itcast.pojo.Order">
        SELECT * FROM t_order
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="memberId != null">
                and member_id = #{memberId}
            </if>
            <if test="orderDate != null">
                and orderDate = #{orderDate}
            </if>
            <if test="orderType != null">
                and orderType = #{orderType}
            </if>
            <if test="orderStatus != null">
                and orderStatus = #{orderStatus}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
        </where>
    </select>

    <!--新建order-->
    <insert id="save" parameterType="cn.itcast.pojo.Order" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO t_order
        (id,member_id,orderDate,orderType,orderStatus,setmeal_id)
        VALUES
        (id,#{memberId},#{orderDate},#{orderType},#{orderStatus},#{setmealId})
    </insert>

    <!--根据id查询一堆信息-->
    <select id="fidnById" parameterType="int" resultType="Map">
        SELECT
	m.name member,
	o.orderDate orderDate,
	o.orderType orderType,
	s.name setmeal
	FROM
	t_member m,
	t_order o,
	t_setmeal s
	WHERE
	o.id=#{id} AND m.id=o.member_id AND o.setmeal_id=s.id
    </select>

    <!--今日预约数-->
    <select id="findTodayOrderNumber" parameterType="String" resultType="Long">
        SELECT count(*) FROM t_order WHERE orderDate = #{value}
    </select>

    <!--今日到诊数-->
    <select id="findTodayVisitsNumber" parameterType="String" resultType="Long">
        SELECT count(*) FROM t_order WHERE orderDate = #{value} AND orderStatus = '已到诊'
    </select>

    <!--某日期之后的预约数-->
    <select id="findOrderNumberAfterDate" parameterType="String" resultType="Long">
        SELECT count(*) FROM t_order WHERE orderDate &gt;= #{value}
    </select>

    <!--某日期之后的到诊数-->
    <select id="findVisitsNumberAfterDate" parameterType="String" resultType="Long">
        SELECT count(*) FROM t_order WHERE orderDate &gt;= #{value} AND orderStatus = '已到诊'
    </select>

    <!--热门套餐查询-->
    <select id="findHotSetmeal" resultType="Map">
    SELECT
        s.name name,
        count(o.id) setmeal_count,
        count(o.id)/(SELECT count(*) FROM t_order) proportion
	FROM
        t_order o,
        t_setmeal s
	WHERE
	    o.setmeal_id = s.id
	GROUP BY
	    s.name
	ORDER BY
	    setmeal_count DESC
	LIMIT 4
    </select>

    <!--根据会员id删除订单-->
    <delete id="deleteByMemberId" parameterType="int">
        DELETE FROM t_order WHERE member_id = #{id}
    </delete>

    <!--根据会员id查询订单-->
    <select id="findByMemberId" parameterType="int" resultType="cn.itcast.pojo.Order">
        SELECT * from t_order WHERE member_id =#{memberId}
    </select>
</mapper>